<template>
  <form
    class="form mb-6 p-10 pb-4"
    :class="{ hidden: show }"
    @submit.prevent="onSubmit"
  >
    <div class="mb-2 flex items-center">
      <label class="block mb-2 mr-4 text-lg font-medium text-white text-left"
        >Title</label
      >
      <input
        type="text"
        v-model="item.title"
        class="input_form border border-gray-300 text-white text-sm rounded-lg block w-full p-2.5"
      />
    </div>
    <div class="mb-4 flex items-center">
      <label class="block mb-2 mr-4 text-lg font-medium text-white text-left"
        >Content</label
      >
      <textarea
        rows="2"
        v-model="item.content"
        class="input_form block p-2.5 w-full text-sm text-white rounded-lg border border-gray-300"
      ></textarea>
    </div>
    <button class="bg-blue-500 rounded-md text-white p-2 px-3 hover:scale-105">
      Add
    </button>
  </form>
</template>

<script lang="ts">
import Vue from 'vue'
import type { PropType } from 'vue'
import { EditTodo, TodoChange } from '@/types/interfaces/todo'

export default Vue.extend({
  name: 'TodoForm',
  props: {
    item: Object as PropType<TodoChange>,
    show: Boolean,
  },
  methods: {
    onSubmit() {
      if (this.item.isNew) {
        this.$emit('onItemAdd', this.item.title, this.item.content)
      } else {
        const editedItem: EditTodo = {
          todo: this.item.todo!,
          newTitle: this.item.title,
          newContent: this.item.content,
        }
        this.$emit('onItemEdit', editedItem)
      }
      this.item.isNew = true
      this.item.title = ''
      this.item.content = ''
      this.$emit('setShow')
    },
  },
})
</script>

<style>
.form {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  z-index: 10;
  backdrop-filter: blur(10px);
}
.input_form {
  background: rgba(255, 255, 255, 0.1);
}
</style>
