<template>
  <div class="TodoItem flex flex-col items-start justify-start p-4 mb-5">
    <div class="flex justify-between w-full mb-3">
      <h3 class="text-lg font-bold" :class="{ 'line-through': todo.isDone }">
        {{ todo.title }}
      </h3>
      <div class="buttons flex items-center">
        <div
          class="mr-2 bg-green-600 text-white p-1 px-3 cursor-pointer rounded-md hover:scale-105"
          @click="onDoneTodo"
        >
          done
        </div>
        <div
          class="mr-2 bg-yellow-500 text-white p-1 px-3 cursor-pointer rounded-md hover:scale-105"
          @click="onEditTodo"
        >
          edit
        </div>
        <div
          class="bg-red-700 text-white p-1 px-3 cursor-pointer rounded-md hover:scale-105"
          @click="onDeleteTodo"
        >
          delete
        </div>
      </div>
    </div>

    <p class="text-start" :class="{ 'line-through': todo.isDone }">
      {{ todo.content }}
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import type { PropType } from 'vue'
import { TodoList, TodoChange } from '@/types/interfaces/todo'

export default Vue.extend({
  name: 'TodoItem',
  props: {
    todo: Object as PropType<TodoList>,
    item: Object as PropType<TodoChange>,
  },
  methods: {
    onDeleteTodo() {
      this.$store.commit('removeTodo', this.todo)
    },
    onDoneTodo() {
      this.$store.commit('doneTodo', this.todo)
    },
    onEditTodo() {
      this.$emit('editable')
      this.item.title = this.todo.title
      this.item.content = this.todo.content
      this.item.isNew = false
      this.item.todo = this.todo
    },
  },
})
</script>

<style>
.TodoItem {
  background: rgba(255, 255, 255, 0.1);
  min-width: 400px;
  min-height: 100px;
  max-width: 700px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  z-index: 10;
  backdrop-filter: blur(10px);
}
</style>
