<template>
  <div id="app">
    <h1 class="font-bold text-5xl mb-4">Todo List</h1>
    <div class="z-10 add" @click="addShowForm">Add a new TODO</div>
    <div class="todo_content z-10 overflow-y-scroll h-screen scrollbar-hide">
      <TodoForm
        @onItemAdd="addNewTodoItem"
        @onItemEdit="editTodoItem"
        @setShow="toggleShowForm"
        :item="todoItem"
        :show="showForm"
      />
      <TodoItem
        v-for="todo in todos"
        @editable="toggleShowForm"
        :key="todo.id"
        :todo="todo"
        :item="todoItem"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import TodoItem from '~/components/TodoItem.vue'
import TodoForm from '~/components/TodoForm.vue'
import { TodoChange, EditTodo } from '@/types/interfaces/todo'

export default Vue.extend({
  name: 'IndexPage',
  components: {
    TodoItem,
    TodoForm,
  },
  data() {
    let todoItem: TodoChange = {
      title: '',
      content: '',
      isNew: true,
    }
    let showForm: boolean = false
    return {
      todoItem,
      showForm,
    }
  },
  mounted() {
    this.$store.commit('onStart')
  },
  computed: {
    todos() {
      return this.$store.state.todolist
    },
  },
  methods: {
    addNewTodoItem(title: string, content: string) {
      this.$store.commit('addTodo', { title, content })
    },
    editTodoItem(todo: EditTodo) {
      this.$store.commit('editTodo', todo)
    },
    toggleShowForm() {
      this.showForm = !this.showForm
    },
    addShowForm() {
      this.todoItem.title = ''
      this.todoItem.content = ''
      this.todoItem.isNew = true
      this.showForm = !this.showForm
    },
  },
})
</script>

<style>
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #19172e;
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  height: 100vh;
  padding: 30px 10px;
}

#app::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(red, orange);
  border-radius: 50%;
  left: 10%;
  bottom: 10%;
}

#app::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(green, yellow);
  border-radius: 50%;
  top: 10%;
  right: 10%;
}

.add {
  background: #651fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.todo_content {
  min-width: 300px;
  width: 100%;
  max-width: 700px;
}
</style>
